/* animations */
/* slidein animation for button etc */

@keyframes slideInFromRight {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
    }
  }

/* drop-shadow on cards */

@keyframes shadowDrop {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: -16px -16px 0px 0px grey;
    }
}

/* title stretching classes and animation */

.stretching {
  animation: stretchAnimation 2.5s ease .2s forwards;
}

@keyframes stretchAnimation {
  to { letter-spacing: .16em; }
}