/* animations */
/* slidein animation for button etc */

@keyframes slideInFromRight {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
    }
  }

/* drop-shadow on cards */

.dropping {
  animation: shadowDrop 2s ease .1s forwards;
}

@keyframes shadowDrop {
    0% {
        box-shadow: 0px 0px 0px 0px grey;
        transform: translateY(20vh);
    }
    100% {
        box-shadow: -20px -20px 0px 0px rgb(191, 190, 190);
        transform: translateY(0);
    }
}

/* title stretching classes and animation */

.stretching {
  animation: stretchAnimation 2.5s ease .2s forwards;
}

@keyframes stretchAnimation {
  to { letter-spacing: .14em; }
}

/* title stretch the second version */
.stretching_bg {
  animation: stretchBG 2s ease forwards;
}

@keyframes stretchBG {
  to { 
    letter-spacing: .3em;
    transform: translateX(0);
   }
}