div.preloader {
    background-color: black;
    z-index: 12;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#preloader {
    /* vert */
    width: 100%;
    height: auto;
}