@import url("tungsten_font.css");
@import url("animations.css");
@import url("form.css");


html {
    width: 100vw;
}
body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-family: 'Tungsten Thin';
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Tungsten Bold';
    font-size: 5.6rem;
    letter-spacing: .35rem;
    line-height: 4.2rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h2 {
    font-family: 'Tungsten Medium';
    font-size: 2.3rem;
    letter-spacing: .08rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h3 {
    font-family: 'Tungsten Medium';
    font-size: 1.4rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h4 {
    font-family: "Tungsten Thin";
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
h4.tiny {
    font-size: 1rem;
    line-height: 0.8rem;
}

h5 {
    font-family: "Tungsten Thin";
    font-size: 2.1rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h6 {
    font-family: 'Tungsten Light';
    font-size: 1.4rem;
    letter-spacing: .2rem;
    color: black;   
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

p {

}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
}

div.full {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    background-color: unset;
    border: 1px solid black;
    transition: .4s;
}
button#call_button {
    animation: slideInFromRight 2s ease-out 0s 1;
}
button.dark {
    border: 1px solid white;
    color: white;
}
button:hover {
    transform: scale(1.02);
}
button.dark:hover {
    border: 1px solid white;
    color: white;
    transform: scale(1.02) translateY(245%);
}


.top_bar {
    box-sizing: border-box;
    z-index: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 2%;
    position: fixed;
    width: 100%;
    background-color: white;
}
.top_bar>svg {
    max-width: 160px;
}

div.tagline {
    background-image: url('images/astronaut1.png');
    /* background-attachment: fixed; */
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat; 
    padding: 10% 10% 4% 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
}
div.tagline h1, h6 {
    width: 80%;
}

div.why {
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 4% 2%;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;       
}

div.why .designing {
    /* font-family: 'Tungsten Thin'; */
    color: rgb(164, 164, 164);
}
div.why .line_box {
    border-left: 1px solid white;
    padding: 50px 25px;
}
div.experience_container {
    width: 90%;
    padding: 4%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
div.experience_container h6.white_text{
    font-size: 1.05rem;
}
div.experience_list {
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
div.why img {
    height: 100px;
    width: 100px;
    margin: 0 5%;
}


div.services {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url('images/astronaut2.png');
    background-size: 16%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 85% -25vh;
}
div.services_title {
    margin: 5% 0 5% 0%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
div.services_section {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
div.service_card {
    padding: 1%;
    width: 70%;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
div.service_card_icon {
    width: 25%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.service_card_text {
    width: 70%;
    height: 200px;
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}
div.service_card_text h4 {
    max-width: 400px;
}
div.service_card>div.service_card_icon:nth-child(odd) {
    border-right: 1px solid black;
}
div.service_card>div.service_card_icon:nth-child(even) {
    border-left: 1px solid black;
}
div.service_card>div.service_card_text:nth-child(odd) {
    text-align: right;
    align-items: flex-end;
}
img.card_icon {
    width: 80px;
    height: 80px;
}


div.options {
    flex-flow: row wrap;
    /* height: fit-content; */
    background-color: black;
}
div.options div.options_card {
    padding: 1% 15% 0 15%;
    color: white;
    background-color: black;
    transform: translateY(20vh);
}
div.options div.options_card p {
    font-family: 'Tungsten Medium';
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
div.options div.options_card p strong {
    font-family: 'Tungsten Bold';
    font-size: 2.5rem;
}
div.options div.options_card h6 strong {
    font-family: 'Tungsten Extra';
    font-size: 1.1rem;
    color:rgb(172, 172, 172);
}
div.options div.button_center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 75px;
}
div.button_center button {
    transform: translateY(190%);
}

img.astronaut_3 {
    width: 45%;
    height: auto;
    transform: translateY(35%) rotate(8deg);
}


div.vert_section {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
div.vert_section h1 {
    font-family: 'Tungsten Thin';
    margin: 0;
    line-height: 80%;
    text-align: center;
}
div.title_flex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    width: 100%;
}
div.title_flex.title_bottom {
    justify-content: flex-end;
    padding-bottom: 3%;
}
div.vert_left {
    height: 190px;
    border-left: 2px solid black;
}
div.vert_right {
    height: 75px;
    border-right: 2px solid black;
}

div.video_section {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 2%;
}
div.vid {
    width: 100%;
    padding-bottom: 3%;
}
video {
    width: 100%;
    height: auto;
}

div.footer {
    padding: 0 10% 10% 10%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 400%;
}

.footer>a {
    margin-left: 10%;
    display: flex;
    flex-flow: row nowrap;
}

div.footer img {
    width: 16vw;
    height: 16vw;
    margin-right: 5%;
    box-shadow: 3px 4px 12px 2px rgb(172, 172, 172);
    transition: 0.4s;
}
div.footer img:hover {
    transform: scale(1.02);
    box-shadow: 12px 12px 0px 0px grey;
}


/* @media screen and (max-width: 1100px) {
    h1 {
        font-size: 2.5rem;
    }
    .hero>svg {
        width: 65%;
    }
    div.tagline>h1 {
        font-size: 5.5rem;
        letter-spacing: .6rem;
        line-height: 4.8rem;
    }
    div.why_middle div {
        font-size: 18px;
    }
    div.why img {
        height: 50px;
        width: 50px;
        background-color: white;
        border-radius: 25px;
        margin: 2%;
    }
    div.services_row {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    div.services {
        height: fit-content;
    }
    div.services_section {
        height: fit-content;
    }

    div.title_flex {
        flex-flow: column nowrap;
        justify-content: center;
        transition: 1000;
    } 
} */

/* @media screen and (max-width: 550px) {
    div.services_row {
        flex-flow: column nowrap;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }
    .hero>svg {
        width: 90%;
    }
    div.tagline>h1 {
        font-size: 3.5rem;
        letter-spacing: .5rem;
        line-height: 4rem;
    }
    div.tagline>h2 {
        font-size: .8rem;
        letter-spacing: .3rem;
    }
    div.why_middle>p {
        box-shadow: 180px -120px 0px 60px lightgrey;
    }
    div.experience_container p {
        font-size: 1rem;
    }

    div.footer {
        height: 100vh;
        line-height: 400%;
    }
    .footer>a {
        margin-left: 10%;
        display: flex;
        flex-flow: column nowrap;
    }
    div.footer img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 30%;
        box-shadow: 12px 12px 0px 0px grey;
    }
} */