@import url("tungsten_font.css");
@import url("animations.css");

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Tungsten Thin';
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Tungsten Bold';
    font-size: 5.5rem;
    letter-spacing: .4rem;
    line-height: 4.2rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h2 {
    font-family: 'Tungsten Medium';
    font-size: 2rem;
    letter-spacing: .08rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h3 {
    font-family: 'Tungsten Medium';
    font-size: 1.3rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h4 {
    font-family: "Tungsten Thin";
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
h4.tiny {
    font-size: .9rem;
}

h5 {
    font-family: "Tungsten Thin";
    font-size: 2rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h6 {
    font-family: 'Tungsten Light';
    font-size: 1.3rem;
    letter-spacing: .2rem;
    color: black;   
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
}

div.full {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    border: 2px solid black;
    background-color: white;
    animation: 2s ease-out 0s 1 slideInFromRight;
    transition: .4s;
}
button:hover {
    transform: scale(1.02);
}

.top_bar {
    z-index: 8;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 9vh;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: white;
}
.top_bar>svg {
    max-width: 150px;
}

div.tagline {
    background-color: white;
    padding: 10% 10% 4% 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
}
div.tagline h1, h6 {
    width: 60vw;
}

div.why {
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 4% 2%;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;       
}

div.why .designing {
    font-family: 'Tungsten Light';
    color: rgb(164, 164, 164);
}
div.why .line_box {
    border-left: 2px solid white;
    padding: 60px;
}
div.experience_container {
    width: 90%;
    padding: 4%;
}
div.experience_list {
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
div.why img {
    height: 100px;
    width: 100px;
    margin: 0 5%;
}


div.services {
    width: 100vw;
    margin: 0;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: lightgray;
}
div.services_title {
    margin: 5% 0 5% 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
div.services_section {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
div.service_card {
    padding: 5%;
    width: 50%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    /* transform: translateY(20vh); */
}
div.service_card_icon {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.service_card_text {
    width: 70%;
    height: 200px;
    margin: 2%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}
div.service_card_text h4 {
    width: 70%;
}
div.service_card>div.service_card_icon:nth-child(odd) {
    border-right: 2px solid black;
}
div.service_card>div.service_card_icon:nth-child(even) {
    border-left: 2px solid black;
}
div.service_card>div.service_card_text:nth-child(odd) {
    text-align: right;
    align-items: flex-end;
    margin: 0;
}

div.service_card>p strong {
    font-size: 2.2rem;
    font-family: "Tungsten Extra";
}
div.service_card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


div.options {
    flex-flow: row wrap;
    height: fit-content;
    background-color: black;
}
div.options div.service_card {
    color: white;
    background-color: black
}
div.options div.service_card>p {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}


div.video_section {
    height: fit-content;
    flex-flow: column nowrap;
}
div.video_section h1 {
    font-family: 'Tungsten Thin';
    margin: 0;
    line-height: 80%;
    text-align: center;
    min-width: 25%;
}
div.video_section h1.bold {
    font-family: 'Tungsten Bold';
    color: rgb(145, 145, 145);
}
div.title_flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
}

div.vid {
    width: 100vw;
}
video {
    width: 100%;
    height: 100%;
}

div.footer {
    height: 75vh;
    max-height: 1000px;
    background-color: black;
    color: white;
    text-align: left;
    line-height: 400%;
}

.footer>a {
    margin-left: 10%;
    display: flex;
    flex-flow: row nowrap;
}

div.footer img {
    width: 16vw;
    height: 16vw;
    margin-right: 5%;
    box-shadow: 12px 12px 0px 0px grey;
    transition: 0.4s;
}
div.footer img:hover {
    transform: scale(1.02);
    box-shadow: 16px 16px 0px 0px rgb(172, 172, 172);
}


@media screen and (max-width: 1100px) {
    /* h1 {
        font-size: 2.5rem;
    }
    .hero>svg {
        width: 65%;
    }
    div.tagline>h1 {
        font-size: 5.5rem;
        letter-spacing: .6rem;
        line-height: 4.8rem;
    }
    div.why_middle div {
        font-size: 18px;
    }
    div.why img {
        height: 50px;
        width: 50px;
        background-color: white;
        border-radius: 25px;
        margin: 2%;
    }
    div.services_row {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    div.services {
        height: fit-content;
    }
    div.services_section {
        height: fit-content;
    }

    div.title_flex {
        flex-flow: column nowrap;
        justify-content: center;
        transition: 1000;
    } */
}

/* @media screen and (max-width: 550px) {
    div.services_row {
        flex-flow: column nowrap;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }
    .hero>svg {
        width: 90%;
    }
    div.tagline>h1 {
        font-size: 3.5rem;
        letter-spacing: .5rem;
        line-height: 4rem;
    }
    div.tagline>h2 {
        font-size: .8rem;
        letter-spacing: .3rem;
    }
    div.why_middle>p {
        box-shadow: 180px -120px 0px 60px lightgrey;
    }
    div.experience_container p {
        font-size: 1rem;
    }

    div.footer {
        height: 100vh;
        line-height: 400%;
    }
    .footer>a {
        margin-left: 10%;
        display: flex;
        flex-flow: column nowrap;
    }
    div.footer img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 30%;
        box-shadow: 12px 12px 0px 0px grey;
    }
} */