a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Tungsten Bold';
    font-size: 5.6rem;
    letter-spacing: .35rem;
    line-height: 4.2rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h2 {
    font-family: 'Tungsten Medium';
    font-size: 2.3rem;
    letter-spacing: .08rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h3 {
    font-family: 'Tungsten Medium';
    font-size: 1.4rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h4 {
    font-family: "Tungsten Thin";
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
h4.tiny {
    font-size: 1rem;
    line-height: 0.8rem;
}

h5 {
    font-family: "Tungsten Thin";
    font-size: 2.1rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h6 {
    font-family: 'Tungsten Light';
    font-size: 1.4rem;
    letter-spacing: .2rem;
    color: black;   
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

p {
    font-family: 'Tungsten Light';
    font-size: 1.5rem;
}

form>textarea, form>input {
    font-family: 'Tungsten Medium';
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.center_text {
    text-align: center;
}

.white_text {
    color: white;
}